 .u-section-1 {
  background-image: none;
  min-height: 100%;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 830px;
  background-image: url("../images/log-in-girl.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 830px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 76px 26px 86px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  width: 235px;
  margin: 12px auto 0 auto;
}

.u-section-1 .u-form-1 {
  height: 538px;
  width: 519px;
  margin: 31px auto 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-input-3 {
  height: 55px;
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 auto 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 12px auto 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  margin: 35px auto 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -1px auto 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 728px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    min-height: 684px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 420px;
  }

  .u-section-1 .u-text-3 {
    width: 231px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 269px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 568px;
  }

  .u-section-1 .u-image-1 {
    min-height: 524px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: auto;
    padding-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 391px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1017px;
  }

  .u-section-1 .u-image-1 {
    order: 1;
    min-height: 873px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 526px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: 478px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 694px;
  }

  .u-section-1 .u-image-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 49px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: 320px;
    margin-top: 20px;
  }
}@font-face {
  font-family: 'GothamBold';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/GothamBold.otf);
}@font-face {
  font-family: 'GothamRegular';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/GothamRegular.otf);
}